<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" sizes="16x16"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM8e+z5l5e5c5e5c5e5c5e5c5e5c5e5c5e5c5" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body class="min-h-screen flex flex-col text-black">
    <header class="bg-black py-4 w-full">
        <div class="container mx-auto flex justify-between items-center px-4">
            <div class="flex flex-col items-center">
                <img class="w-14" src="{{url_for('static', filename='img/logo.png')}}" alt="logo valencars">
                <h1 class="text-white font-bold text-lg">VALENCARS</h1>
            </div>
                <nav class="bg-black  flex justify-between items-center w-3/5">
                    <div class="flex justify-between space-x-6 w-full items-center">
                        <a href=" {{ url_for('inicio' ) }}" class="text-white  hover:bg-white hover:rounded hover:text-black p-3 hover:transition-all">INICIO</a>
                        <a href=" {{ url_for('somos') }}" class="text-white hover:bg-white hover:rounded hover:text-black p-3 hover:transition-all">QUIÉNES SOMOS</a>
                        <a href="{{ url_for('contacto') }}" class="text-white hover:bg-white hover:rounded hover:text-black p-3 hover:transition-all">CONTACTO</a>
                        <a href="{{ url_for('catalogo') }}" class="text-white hover:bg-white hover:rounded hover:text-black p-3 ">CATÁLOGO</a>
                        <a href="{{ url_for('vender') }}" class="text-white hover:bg-white hover:rounded hover:text-black p-3 ">VENDER TU COCHE</a>
                    </div>
                </nav>
            </div>
    </header>
    <main class="flex-grow">
    {% block main %}

    {% endblock %}
    </main>
    <!-- Footer -->
    <footer class="w-full bg-black text-white text-center p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 text-sm">
            <div>
                <h1 class="font-semibold">Nuestras redes sociales</h1>
                <div class="flex justify-center space-x-2 mt-2 text-black bg-white p-2 rounded">
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>
            </div>
            <div>
                <h1 class="font-semibold">Ubicación</h1>
                <p>Av. de Ecuador 56, 46025</p>
                <p>Benicalap (Valencia)</p>
            </div>
            <div>
                <h1 class="font-semibold">Información</h1>
                <p>962 118 240</p>
                <p>admin@valencars.net</p>
            </div>
            <div>
                <h1 class="font-semibold">Horario</h1>
                <p>Lunes - Viernes</p>
                <p>9:00h - 14:00h | 16:00h - 20:30h</p>
                <p>Sábado</p>
                <p>10:00h - 14:00h</p>
            </div>
        </div>
    </footer>
    
</body>
</html>
