{% extends './plantillas/plantilla.html' %}
{% block title %}Contacto{% endblock %}
{% block main %}
  <div class="p-10 text-center">
    <h2 class="text-3xl font-bold mb-4">Contacto valencars</h2>
    <hr class="border-black mb-6" />
    
    <div class="grid grid-cols-2 gap-4">
      <input type="text" placeholder="Nombre (Obligatorio)" class="border p-3 w-full rounded-md" />
      <input type="text" placeholder="Motivo de la consulta (Obligatorio)" class="border p-3 w-full rounded-md" />
      <input type="email" placeholder="Correo Electrónico (Obligatorio)" class="border p-3 w-full rounded-md" />
      <textarea placeholder="Descripción (Obligatorio)" class="border p-3 w-full h-20 resize-none rounded-md"></textarea>
      <input type="text" placeholder="Teléfono (Obligatorio)" class="border p-3 w-full rounded-md" />
    </div>
    <div class="flex items-center justify-start my-6">
      <input type="checkbox" class="mr-2" />
      <span>Acepto la <a href="#" class="text-blue-500">política de privacidad</a></span>
    </div>
    <button class="bg-black text-white px-6 py-3 rounded-md text-lg border-black hover:bg-white hover:cursor-pointer hover:text-black hover:transition-all">Enviar</button>
    
    <div class="grid grid-cols-2 gap-6 mt-8">
      <img src="map_placeholder.png" alt="Maps" class="w-full h-40 object-cover rounded-md" />
      <img src="cars_placeholder.png" alt="Foto" class="w-full h-40 object-cover rounded-md" />
    </div>
  </div>
{% endblock %}
