{% extends './plantillas/plantilla.html' %}
{% block title %}Panel de administración{% endblock %}
{% block main %}
<div class="min-h-screen bg-white text-black">
        <!-- Formulario -->
        <section class="bg-gray-200 p-6 m-4 rounded-lg">
        <h2 class="text-center font-bold text-lg mb-6">Formulario Coches</h2>
        <form class="grid grid-cols-1 md:grid-cols-2 gap-4" action="/panel" method="POST">
            <input type="text" placeholder="Marca" class="p-2 rounded border" name="marca" />
            <input type="text" placeholder="Modelo" class="p-2 rounded border" name="modelo" />
            <select name="estado" class="p-2 rounded border">
                <option value="">Selecciona estado</option>
                <option value="nuevo">Nuevo</option>
                <option value="usado">Usado</option>
            </select>
            <input type="number" placeholder="Precio Contado" class="p-2 rounded border" name="precio_contado" />
            <input type="number" placeholder="Precio Financiado" class="p-2 rounded border " name="precio_financiado" />
            <input type="text" min="1900" max="2025" placeholder="Año" class="p-2 rounded border" name="ano"/>
            <input type="number" placeholder="Consumo" class="p-2 rounded border" name="consumo" />
            <input type="text" placeholder="Combustible" class="p-2 rounded border"  name="combustible"/>
            <input type="text" placeholder="Cambio" class="p-2 rounded border" name="cambio" />
            <input type="number" placeholder="Kilómetros" class="p-2 rounded border" name="kilometros" />
            <input type="number" placeholder="Puertas" class="p-2 rounded border" name="puertas" />
            <input type="number" placeholder="plazas" class="p-2 rounded border" name="plazas" />
            <input type="number" placeholder="Motor" class="p-2 rounded border" name="motor" />
            <textarea placeholder="Comentarios del anunciante" class="p-2 rounded border md:row-span-2 resize-none" name="comentario"></textarea>
            <input type="text" placeholder="Color" class="p-2 rounded border" name="color" />
            <button type="submit" class="bg-black text-white px-4 py-2 rounded hover:bg-gray-800 transition">Enviar</button>
        </form>
            <form method="POST" action="/subir_foto_temp" enctype="multipart/form-data">
                <label for="imagen">Subir imagen:</label>
                <input type="file" name="foto" class="block w-full text-sm text-gray-500
                file:mr-4 file:py-2 file:px-4
                file:rounded-full file:border-0
                file:text-sm file:font-semibold
                file:bg-black file:text-white
                hover:file:bg-gray-800
                transition">
                <button type="submit" class="bg-black text-white px-4 py-2 rounded hover:bg-gray-800 transition">Subir imagen</button>
            </form>
        </section>
    
        <!-- Lista de Coches -->
        <section class="p-6">
        <h2 class="text-center font-bold text-xl mb-4">LISTA DE COCHES</h2>
        <div class="overflow-auto">
            <table class="min-w-full border border-black text-sm text-center">
            <thead class="bg-gray-100">
                <tr>
                <th class="border px-2 py-1">Nombre</th>
                <th class="border px-2 py-1">Combustible</th>
                <th class="border px-2 py-1">Kilómetros</th>
                <th class="border px-2 py-1">Motor</th>
                <th class="border px-2 py-1">Color</th>
                <th class="border px-2 py-1">Consumo</th>
                <th class="border px-2 py-1">Cambio</th>
                <th class="border px-2 py-1">Puertas/Plazas</th>
                <th class="border px-2 py-1">Descripción</th>
                <th class="border px-2 py-1">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td class="border px-2 py-1">Seat Ibiza</td>
                <td class="border px-2 py-1">Gasolina 95P</td>
                <td class="border px-2 py-1">95.000 KM</td>
                <td class="border px-2 py-1">100/101 C.V.</td>
                <td class="border px-2 py-1">Blanco</td>
                <td class="border px-2 py-1">5.3/100 KM</td>
                <td class="border px-2 py-1">Manual</td>
                <td class="border px-2 py-1">5/5</td>
                <td class="border px-2 py-1">Coche en buen estado, perfecto para ciudad</td>
                <td class="border px-2 py-1">
                    <button class="px-2 py-1 bg-gray-300 hover:bg-gray-400 rounded">≡</button>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        </section>
    </div>
    
{% endblock %}