{% extends './plantillas/plantilla.html' %}
{% block title %}Vender tu coche{% endblock %}
{% block main %}
   <section class="text-center p-10">
        <h2 class="text-3xl font-bold">PASOS PARA VENDER TU COCHE</h2>
        <hr class="w-1/2 mx-auto my-4 border-2">
        <div class="max-w-3xl mx-auto text-left text-black">
            <p class="text-2xl ">- Acude a nuestro local ubicado en <a href="#" class="text-blue-600 hover:underline">Av. de l'Equador, 56, Benicalap, 46025 Valencia, Valencia</a>.</p>
            <p class="mt-2 text-2xl ">- Olvídate de largas negociaciones, con nuestra tasación gratuita obtendrás una oferta justa en minutos.</p>
            <p class="mt-2 text-2xl">- Nos encargamos de todo el proceso, desde la valoración hasta el cambio de titularidad, para que puedas vender tu coche sin complicaciones.</p>
            <p class="mt-2 text-2xl ">- También podemos tasar tu coche sin necesidad de venir a nuestro local enviándonos fotos del vehículo.</p>
        </div>
        <div class="w-full max-w-lg mx-auto h-100 mt-8 mb-6 rounded-md overflow-hidden shadow-lg">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.3843552714265!2d-0.3938777846471743!3d39.495071571767515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604579125eb3f9%3A0x14c569861adcebdd!2sValencars%202000%20SL!5e0!3m2!1ses!2ses!4v1712574340501!5m2!1ses!2ses"  class="border-0 w-full h-full"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
{% endblock %}
